<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body>
  <header>
    <%- include('../partials/header'); %>
  </header>
  <main>
    <div class="container">
      <h1 class="mb-4">Edit Article</h1>
  
      <form name="content-article" action="/articles/<%= article.id %>" method="POST">
        <%- include('_form_fields') %>
      </form>
    </div>
  </main>

  <%- include('../partials/footer'); %>
</body>
</html>
