<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body>
  <header>
    <%- include('../partials/header'); %>
  </header>
  <main>
    <div class="body index">
      <div class="container">
        <h1 class="mb-4">Blog Articles</h1>
        <a href="/articles/new" class="btn btn-success">New Article</a>
        <% articles.forEach(article => { %>
          <div class="card mt-4">
            <div class="card-body">
              <h4 class="card-title"><%= article.title %></h4>
              <div class="card-title" v-html="this.courrier.Text"><%= article.description %></div>
              <div class="card-subtitle text-muted mb-2">
                <%= article.createdAt.toLocaleDateString() %>
              </div>
              <div class="d-flex">
                <a href="articles/<%= article.slug %>" class="btn btn-primary">Read More</a>
                <div class="can-update">
                  <a href="articles/edit/<%= article.id %>" class="btn btn-info">Edit</a>
                  <form action="/articles/delete/<%= article.id %>?" method="post" class="d-inline">
                    <button type="submit" class="btn btn-danger">Delete</button>
                  </form>
                </div>
              </div>
              <div class="react-like mt-2 d-flex">
                <div class="number-of-like">
                  <% if (article.like_list) { %>
                    <p><%= article.like_list.length %></p>
                    <%} else { %>
                    <p> 0 </p>
                  <% } %>
                </div>
                <a class="like-icon" onclick="like('<%= article.id %>')">
                  <% if (article.like_list.some(obj => obj.like_list === user._id)) { %>
                    <img src="/icon/like-active.jpg" alt="active" class="like-active ">
                    <!-- <script>console.log(obj);</script> -->
                  <% } else { %>
                    <!-- <script>console.log("af",obj);</script> -->
                    <img src="/icon/like-unactive.png" alt="active" class="like-active ">
                  <% } %>
                  
                </a>
              </div>
              <div class="input-group mb-3">
                <input name="comment" id="cmt-content" type="text" class="form-control" aria-label="Recipient's username" aria-describedby="button-addon2">
                <button class="btn btn-outline-secondary" type="button" id="send-cmt" onclick="comment('<%= article.id %>')">Send</button>
              </div>
              
            </div>
          </div>
        <% }) %>
      </div>
    </div>
  </main>
  <script>
    // $(".like-icon").click(function(){
    //   // $(this).hide();
    //   console.log("like");
    // });
    function like(post_id) {
      $.ajax({
        url: `/articles/like/${post_id}`,
        type: 'POST',
        // data: {"a":"123" },
        // dataType : "json",
        success: function(response) {
          
        },
        error: function(xhr, status, error) {
          console.log(error);
        }
      });
    }

    function comment(post_id) {
      var cmt = $('#cmt-content').val();
      console.log(cmt);
      $.ajax({
        url: `/cmt/${post_id}`,
        type: 'POST',
        data: {comment:cmt },
        // dataType : "json",
        success: function(response) {
          console.log(response);
        },
        error: function(xhr, status, error) {
          console.log("er");
        }
      });
    }
  </script>
  
  
  
  <%- include('../partials/footer'); %>
  
</body>
</html>