<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body>
    <header>
      <%- include('../partials/header'); %>
    </header>
    <main>
      <div class="container">
        <div class="content">
          <h1 class="mb-3 heading-artilcle"><%= article.title %></h1>
          <div class="text-muted mb-2 article-date">
            <%= article.createdAt.toLocaleDateString() %>
          </div>
          <article class="body-article">
            <%- article.description %>
            <%- article.detail %>
          </article>
          <div class="tail-article">
            <i>
              <%- article.sanitizedHtml %>
            </i>
          </div>
          
        </div>
        <div class="action">
          <a href="/dashboard" class="btn btn-secondary">All Articles</a>
          <a href="/articles/edit/<%= article.id %>" class="btn btn-info" style="margin-left: 5px;">Edit</a>
        </div> 
        <div class="index">
        <div class="bg-white">
          <div class="d-flex flex-row fs-12">
              <div class="like p-2 cursor"><i class="fa fa-thumbs-o-up"></i><span class="ml-1">Like</span></div>
              <div class="react-like mt-2 d-flex">
                <div class="number-of-like-<%= article.id %>">
                  <% if (article.like_list) { %>
                    <p><%= article.like_list.length %></p>
                    <%} else { %>
                    <p> 0 </p>
                  <% } %>
                </div>
                <a class="like-icon" onclick="like('<%= article.id %>')">
                    <img src="/icon/like-active.jpg" alt="active" class="like-active ">
                    <!-- <script>console.log(obj);</script> -->
                    <!-- <script>console.log("af",obj);</script> -->
                  
                </a>
              </div>
              <div class="like p-2 cursor"><i class="fa fa-commenting-o"></i><span class="ml-1 comment-text" onclick="start_comment()"  >Comment</span></div>
              <!-- <div class="like p-2 cursor"><i class="fa fa-share"></i><span class="ml-1">Share</span></div> -->
          </div>
      </div>
      
          <div class="p-2 comment-group-<%= article.id %>">
              <div class="comment-form">
                <div class="d-flex flex-row align-items-start">
    
                  <!-- <img class="rounded-circle" src="https://i.imgur.com/RpzrMR2.jpg" width="40"> -->
                  <textarea id="comment-ckedit" class="form-control ml-1 shadow-none textarea comment-<%= article.id %>" name="comment-<%= article.id %>"id="cmt-content">
    
                  </textarea>
                  <!-- <script>
                    CKEDITOR.replace( 'comment-ckedit' ).addClass("comment-<%= article.id %>");
                  </script> -->
                </div>
                
                <div class="mt-2 text-right">
                  <button class="btn btn-primary btn-sm shadow-none" id="send-cmt" onclick="comment('<%= article.id %>')">Post comment</button>
                  <button class="btn btn-outline-primary btn-sm ml-1 shadow-none">Cancel</button>
                </div>
              </div>
            <% article.comment_list.forEach(comment => { %> 
              <div class = "cmt-<%= comment.id %>">
                <div class="d-flex ">
                <div class="user">
                  <% if ((comment.User.avatar!= null)&&( comment.User.avatar.data != undefined)) { %>
                    <img class="rounded-circle" src="data:image/<%=comment.User.avatar.contentType%>;base64,
                  <%=comment.User.avatar.data.toString('base64')%>"  width="40">
                    <%} else { %>
                      <img class="rounded-circle user-article" src= "https://www.google.com/url?sa=i&url=https%3A%2F%2Fvietnamnet.vn%2Fdan-mang-du-trend-facebook-doi-avatar-thanh-mat-trang-i63266.html&psig=AOvVaw3v_GB9B6j_O3s07pRQ-234&ust=1680917278726000&source=images&cd=vfe&ved=0CBAQjRxqFwoTCOCHrpfPlv4CFQAAAAAdAAAAABAE>" width="50" height="50">
                  <% } %>
                  
                  
                </div>
                <div>
                  <span class="d-block font-weight-bold name">
                    <strong>
                      <%= comment.User.name %>
                    </strong>
                    <div class="cmt-content-<%= comment.id %>"><%= comment.text %></div> 
                  </span>
                </div>
                
                  <div class="dropdown">
                  <a class="btn" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-three-dots" viewBox="0 0 16 16">
                      <path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"/>
                    </svg>
                  </a>
                
                  <ul class="dropdown-menu">
                    <li><button class="dropdown-item" onclick="start_edit('<%= comment.id %>')" >Edit</button></li>
                    <li><button class="dropdown-item" onclick="del_comment('<%= comment.id %>')">Delete</button></li>
                  </ul>
                  </div>
                </div>
              </div>
            <%}) %>
        </div>
      </div>
      
    </main>
    
    <%- include('../partials/footer'); %>

  </body>
  

</html>
