<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
    <body>
    <header>
        <%- include('../partials/header'); %>
    </header>
    <main>
        <div class="container">
            <section class="vh-100" style="background-color: #f4f5f7;">
                  <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col col-lg-6 mb-4 mb-lg-0">
                      <div class="card mb-3" style="border-radius: .5rem;">
                        <form action="/upload/img" class="detail-user-form" method="post">
                          <div class="row g-0">
                            <div class="col-md-4 gradient-custom text-center text-white"
                              style="border-top-left-radius: .5rem; border-bottom-left-radius: .5rem;">
                              <% if ((user.avatar!= null)&&( user.avatar.data != undefined)) { %>
                                <img src="data:image/<%=user.avatar.contentType%>;base64,
                                <%=user.avatar.data.toString('base64')%>" width="70" height="70" style="margin-top: 50px; margin-bottom: 10px;"/>
                                <%} else { %>
                                  <img src= "https://haycafe.vn/wp-content/uploads/2022/02/Avatar-trang-800x505.jpg" width="70" height="70" style="margin-top: 50px; margin-bottom: 10px;">
                              <% } %>

                                <div id="imageForm" enctype="multipart/form-data">
                                  <input type="file" name="image" style="padding-left: 63px;">
                                  
                                </div>
                                <div id="result"></div>
                              <input type="text" class="text-secondary name-detail" name="name" value="<%- user.name %>">
                              <h5 ><%- user.name %></h5>
                              <!-- <p>Web Designer</p> -->
                              <!-- <i class="far fa-edit mb-5"></i> -->
                            </div>
                            <div class="col-md-8">
                              <div class="card-body p-4">
                                <h6>Information</h6>
                                <hr class="mt-0 mb-4">
                                <div class="row pt-1">
                                  <div class="col-6 mb-3">
                                    <h6>Email</h6>
                                    <input type="text" class="text-muted email-detail" name="email" value="<%- user.email %>">
                                    <!-- <p class="text-muted"><%- user.email %></p> -->
                                  </div>
                                  <!-- <div class="col-6 mb-3">
                                    <h6>Phone</h6>
                                    <p class="text-muted">123 456 789</p>
                                  </div> -->
                                </div>
                                <h6>Number of Articles: <%- art_count %> </h6>
                                <hr class="mt-0 mb-4">
                                <div class="row pt-1">
                                  <div class="col-12 mb-3">
                                    <h6>Recent article</h6>
                                    <p class="text-muted"><a href="articles/<%= articles[0].slug %>" style="color: black; text-decoration: none;"> <i><%- articles[0].title %></i> </a></p>
                                  </div>
                                  <!-- <div class="col-6 mb-3">
                                    <h6>Most Like</h6>
                                    <p class="text-muted">Dolor sit amet</p>
                                  </div> -->
                                </div>
                                <!-- <div class="d-flex justify-content-start">
                                  <a href="#!"><i class="fab fa-facebook-f fa-lg me-3"></i></a>
                                  <a href="#!"><i class="fab fa-twitter fa-lg me-3"></i></a>
                                  <a href="#!"><i class="fab fa-instagram fa-lg"></i></a>
                                </div> -->
                                <button class="submit-edit-detail" type="submit">Edit</button>
                              </div>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
              </section>
        </div>
    </main>
    
    <%- include('../partials/footer'); %>

    </body>
</html>